@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Short+Stack');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	image-rendering: -webkit-optimize-contrast;
}

body{
	position: relative;
	width: 100%;
	margin: 0 auto;

	.slick-next:before, .slick-prev:before{
		color: #277AFF !important;
	}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

  	/*------------ Loading Screen ------------*/
	.loading-screen{
		position: relative;
		width: 100%;
		height: 100vh;
		background-color: #F5F5F5;
		text-align: center;

		.loader-image{
			position: relative;
			display: block;
			width: 100px;
			height: 100px;
			top: 35%;
			margin: 0 auto;
			background-image: url("./images/logo.svg");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-animation: bounce 2s infinite;
		   -moz-animation: bounce 2s infinite;
		   animation: bounce 2s infinite;
		}

		@-webkit-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
			40% {-webkit-transform: translateY(-80px);}
			60% {-webkit-transform: translateY(-40px);}
		}
		 
		@-moz-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
			40% {-moz-transform: translateY(-80px);}
			60% {-moz-transform: translateY(-40px);}
		}
		 
		@-o-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-80px);}
			60% {transform: translateY(-40px);}
		}
		@keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-80px);}
			60% {transform: translateY(-40px);}
		}
	}

	/*--------- Loading Screen 2 ---------*/
	.loading-screen2{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		overflow: hidden;

		h1{
			position: absolute;
			margin-top: 15px;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-weight: bold;
			font-size: 14px;
			color: #277AFF;
		}

		$c1: #114357;
		$c2: #826C75;
		$c3: #F29492;

		.dizzy-gillespie {
			filter: saturate(3);
			width: 0.1px;
			height: 0.1px;
			margin-bottom: 120px;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 3s ease-in infinite, spin 1s linear infinite;
		}
		.dizzy-gillespie::before {
			filter: saturate(0.3);
			display: block;
			position: absolute;
			z-index: -1;
			margin-left: -40px;
			margin-top: -40px;
			content:'';
			height:0.1;
			width:0.1;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
		}
		.dizzy-gillespie::after {
			display: block;
			position: absolute;
			z-index: 2;
			margin-left: -10px;
			margin-top: -10px;
			content:'';
			height:20px;
			width:20px;
			border-radius: 20px;
			background-color: white;
		}
		@keyframes loader {
			0% {border-bottom-color:transparent;border-top-color:$c1}
			25% {border-left-color:transparent;border-right-color:$c2}
			50% {border-top-color:transparent;border-bottom-color:$c3}
			75% {border-right-color:transparent;border-left-color:$c2}
			100% {border-bottom-color:transparent;border-top-color:$c1}
		}
		@keyframes spin {
			0% {transform: rotate(0deg)}
		 	100% {transform: rotate(-360deg)}
		}
	}


  	/*------------ Header ------------*/
  	.navbar.navbar-expand-lg{
  		padding: 0px 15px 0px 15px;
  		background-image: url("./images/white-pattern2.png");
		
		ul.navbar-nav{
  			text-align: center;
  		}

  		a.nav-link{
  			padding: 5px 0 15px 0;
  			text-transform: capitalize;
  			font-size: 14px;
  		}

  		.navbar-brand{
  			margin-left: -5px;
  			margin-right: 0;
  			padding: 2px 0 2px 0;
  		}

  		.collapse.navbar-collapse.show{
  			display: block;
  			height: 255px;
  			overflow: hidden;
  		}
	
		.collapse.navbar-collapse{
			transition: height 0.3s ease;
		}

  		.collapse.navbar-collapse.hide{
  			display: block;
  			height: 0;
  			overflow: hidden;
  		}

  		.company-logo{
			display: inline-block;
			padding: 0;
			width: 50px;
			height: 50px;
	   }

	   .company-title{
			margin: 0;
			vertical-align: middle;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			font-family: 'Kaushan Script', cursive;
			font-weight: bold;
			font-size: 16px;
			color: #277AFF;	
	   }

  		// Burger Menu
		.hamburger{
			padding: 17px 0 10px 0;
			display: inline-block;
			cursor: pointer;
			transition-property: opacity, filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font: inherit;
			color: inherit;
			text-transform: none;
			background-color: transparent;
			border: 0;
			margin: 0;
			overflow: visible;
		}

		.hamburger:hover{
			opacity: 1;
		}

		.hamburger-box{
			width: 35px;
			height: 21px;
			display: inline-block;
			position: relative;
		}

		.hamburger-inner{
			display: block;
			top: 50%;
			margin-top: -2px;
		}

		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
			width: 35px;
			height: 3px;
			background-color: #D7D293;
			border-radius: 4px;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		.hamburger-inner::before, .hamburger-inner::after{
			content: "";
			display: block;
		}
		
		.hamburger-inner::before{
			top: -8px;
		}

		.hamburger-inner::after{
			bottom: -8px;
		}

		.hamburger--stand .hamburger-inner{
			transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
		}

		.hamburger--stand .hamburger-inner::before{
			transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		.hamburger--stand .hamburger-inner::after{
			transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		.hamburger--stand.is-active .hamburger-inner{
			transform: rotate(90deg);
			background-color: transparent;
			transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
		}

		.hamburger--stand.is-active .hamburger-inner::before{
			top: 0;
			transform: rotate(-45deg);
			transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		.hamburger--stand.is-active .hamburger-inner::after{
			bottom: 0;
			transform: rotate(45deg);
			transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}


	/*------------ Home ------------*/
	.home-container{
		position: relative;
		margin-top: 2px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: #fff;
		background-image: url("./images/light-veneer.png");

		//Highlight
		.highlight{
			position: relative;
			width: 100%;
			height: 100vh;
			background-repeat: no-repeat;
         background-image: url("./images/home-background-mobile.jpg");
			background-size: cover;

			.overlay{
				position: relative;
	         z-index: 5;
	         display: block;
	         position: absolute;
	         top: 0;
	         width: 100%;
	         height: 100%;

	         h1{
	         	position: relative;
	   			top: 50%;
	   			margin-top: -70px;
	   			margin-bottom: 0;
	         	text-transform: capitalize;
	         	text-align: center;
	         	letter-spacing: 2px;
	         	line-height: 1.5em;
	         	font-family: 'Pacifico', cursive;
	         	font-size: 24px;
	         	color: #fff;
	         }
	     	}
		}

		.featured-products{
			position: relative;
			padding-top: 50px;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}

			.slider{
				z-index: 5;
				position: relative;
				
				.slick-prev{
		         display: none !important;
		         left: 25px;
		         z-index: 1;
		      }

		      .slick-next{
		         display: none !important;
		         right: 25px;
		         z-index: 1;
		      }

		      .slider-content{
		         width: 320px;
		         height: 110px;

		         img{
		         	width: 100%;
		         	height: 100%;
		         }
		      }
			}

			.featured-products-description{
				position: relative;
				margin-bottom: 0;
				padding: 20px 15px 20px 15px;

				p{
					font-family: 'Josefin Sans', sans-serif;
					font-size: 14px;
				}

				.explore-button{
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 12px;
					color: #fff;
				}
			}
		}

		.featured-brands{
			padding-top: 50px;
			background-color: #F8F8F9;
			background-image: url("./images/white-pattern1.png");

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}

			.brand-image{
				width: 100px;
				height: 30px;
				margin: 0 auto 30px auto;

				img{
					width: 100%;
					height: 100%;

					@-webkit-keyframes spaceboots {
						0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
						10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
						20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
						30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
						40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
						50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
						60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
						70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
						80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
						90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
						100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
					}

					@keyframes spaceboots {
						0% { transform: translate(2px, 1px) rotate(0deg); }
						10% { transform: translate(-1px, -2px) rotate(-1deg); }
						20% { transform: translate(-3px, 0px) rotate(1deg); }
						30% { transform: translate(0px, 2px) rotate(0deg); }
						40% { transform: translate(1px, -1px) rotate(1deg); }
						50% { transform: translate(-1px, 2px) rotate(-1deg); }
						60% { transform: translate(-3px, 1px) rotate(0deg); }
						70% { transform: translate(2px, 1px) rotate(-1deg); }
						80% { transform: translate(-1px, -1px) rotate(1deg); }
						90% { transform: translate(2px, 2px) rotate(0deg); }
						100% { transform: translate(1px, -2px) rotate(-1deg); }
					}

					&:hover,
					&:focus {
						-webkit-animation-name: spaceboots;
						-webkit-animation-duration: 0.8s;
						-webkit-transform-origin:50% 50%;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-timing-function: linear;
					}

					&:hover,
					&:focus {
						animation-name: spaceboots;
						animation-duration: 0.8s;
						transform-origin:50% 50%;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}
				}
			}
		}

		.featured-news{
			position: relative;
			padding-top: 50px;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}

			.card{
				margin: 0 15px 30px 15px;

				.card-image{
					width: 100%;
					
					img{
						width: 100% !important;
						height: 100% !important;
					}
				}

				.card-body{
					
					.card-title{
						margin: 0;
						text-transform: capitalize;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 16px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						font-size: 14px;
					}
				}

				.news-button{
					position: relative;
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 12px;
					color: #fff;
				}
			}
		}	
	}
	

	/*------------ Contact ------------*/
	.contact-container{
		position: relative;
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");

		.contact-title{
			position: relative;

			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #D7D293;
			}
		}

		.contact-content{
			position: relative;
			padding: 0 15px 0 15px;
			
			h1{
				text-align: left;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;
			}
			
			p.working-hours{
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 14px;
				color: #000;

				label{
					margin-top: 5px;
					margin-bottom: 0;
				}
			}

			p.address{
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 14px;
				color: #000;

				label{
					margin-top: 5px;
					margin-bottom: 0;
					width: 50px;
				}

				span{
					display: inline-block;
					width: 15px;
				}

				#contact-email{
					text-transform: none;
				}
			}

			hr.custom-line {
				height: 2px;
				margin-top: 0;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
		}

		.google-map-container{
			position: relative;
			width: 100%;

			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;
			}
		}

		.google-map-container iframe{
			display: block;
			position: relative;
		}

		.contact-support{
			position: relative;
			padding: 20px 15px 0 15px;

			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;
			}
			
			label{
				margin-top: 15px;
				margin-bottom: 5px;
				text-transform: capitalize;
				font-size: 14px;

				&:after{
					content: ":"
				}

				&:first-child{
					margin-top: 0;
				}
			}

			button{
				display: block;
				margin: 15px auto 0;
				padding: 8px 50px;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 14px;
				color: #fff;
			}

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
				
			span.error-message{
				display: block;
				font-size: 12px;
				color: red;
			}

			.form-group{
				margin-bottom: 0;
			}

			.captcha-container{
				display: flex;
				margin-top: 30px;
				justify-content: center;
			}
		}
	}
	

	/*------------ News ------------*/
	.news-container{
		padding: 30px 15px 30px 15px !important;
		background-image: url("./images/white-pattern1.png");
		
		.news-title{
			position: relative;

			h1{
				margin: 0 0 15px 0;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #D7D293;
			}
		}

		.news-box{
			position: relative;

			.card{
				
				.card-header{
					padding: 12px 15px;
				}

				.card-body{
					padding: 15px;

					.card-title{
						text-transform: uppercase;
						letter-spacing: 2px;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 18px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						text-align: justify;
						font-size: 14px;
					}
					
					.news-button{
						padding: 5px 10px;
						background-color: white;
						text-transform: capitalize;
						font-weight: bold;
						font-size: 10px;
						color: #2196F3;
					}
				}

				.news-button{
					position: relative;
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 12px;
					color: #fff;
				}
			}
		}

		.subscribe-newsletter{
			position: relative;

			h1{
				margin-top: 34px;
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				color: #277AFF;
			}
			
			input{
				text-align: center;
			}

			span.error-message{
				display: block;
				text-align: center;
				font-size: 12px;
				color: red;
			}

			.subscribe-button{
				display: block;
				position: relative;
				margin: 15px auto 0 auto;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 12px;
			}

			::-webkit-input-placeholder {
			   text-align: center;
			}

			:-moz-placeholder { /* Firefox 18- */
			   text-align: center;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   text-align: center;  
			}

			:-ms-input-placeholder {  
			   text-align: center; 
			}
		}
	}
	

	/*------------ News Detail ------------*/
	.news-detail-container{
		padding: 30px 15px 30px 15px !important;
		background-image: url("./images/white-pattern1.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.news-detail-title{
			position: relative;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}
		}

		.news-detail-content{

			p{
				margin-bottom: 0;
				text-align: justify;
				font-family: 'Lato', sans-serif;
				font-size: 16px;	
			}

			span{
				display: block;
				text-align: right;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 10px;

				h2{
					margin-bottom: 0;
					display: inline-block;
					text-transform: capitalize;
					font-family: 'Exo', sans-serif;
					font-size: 10px;
				}
			}
		}
	}
	
	/*------------ About Us ------------*/
	.about-container{
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");

		.about-title{
			position: relative;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #D7D293;
			}
		}

		.about-background{
			width: 100%;
			height: 200px;
			margin-bottom: 15px;
			background-image: url("./images/maple.jpg");
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.about-content{

			p{
				padding: 0 15px 0 15px;
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 16px;	

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}


	/*------------ Products ------------*/
	.products-container{
		position: relative;
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-left: 15px;
			margin-right: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.products-title{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #D7D293;
			}
		}

		// Text-effect
     	.text-effect-wrapper{
         position: relative;
         margin-bottom: 30px;
         width: 100%;
         height: 150px;
         background-image: url("./images/stationary-files.jpg");
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         cursor: default;
			
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				background-color: #277AFF;
			}

         .text-effect {
         	position: relative;
				overflow: hidden;
				top: 50%;
				margin-top: -36px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 24px;
				color: #fff;
         }

         .first-text-effect{
            animation: showup 10s infinite;
         }

         .last-text-effect {
            width:0;
            animation: reveal 10s infinite;
         }

         .last-text-effect span {
            margin-left:-355px;
         	animation: slidein 10s infinite;
         }

         @keyframes showup {
            0% {opacity:0;}
            20% {opacity:1;}
            80% {opacity:1;}
            100% {opacity:0;}
         }

         @keyframes slidein {
            0% { margin-left:-800px; }
            20% { margin-left:-800px; }
            35% { margin-left:0px; }
            100% { margin-left:0px; }
         }

         @keyframes reveal {
            0% {opacity:0;width:0px;}
            20% {opacity:1;width:0px;}
            30% {width:100%;}
            80% {opacity:1;}
            100% {opacity:0;width:100%;}
         }
     	}

		.products-list-title{
			position: relative;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: capitalize;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;
			}
		}

		.products{
			position: relative;
			padding-left: 7.5px;
			padding-right: 7.5px;

			.product-box-container{
				position: relative;
				padding: 15px 7.5px 0 7.5px;
				background-image: url("./images/logo.svg");
	         background-size: 30px 30px;
	         background-position: top 21px right 15px;
	         background-repeat: no-repeat;

				.product-box{
					position: relative;
					display: block;
					width: 100%;
					height: 137.5px;
					border-radius: 5px;
					overflow: hidden;
					-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

					h1{
						position: absolute;
						width: 100px;
						top: 50%;
						left: 50%;
						margin-top: -12px;
						margin-left: -50px;
						margin-bottom: 0;
						padding: 5px;
						border-radius: 5px;
						background-color: #277AFF;
						text-transform: uppercase;
						text-align: center;
						font-family: 'Lato', sans-serif;
						font-size: 14px;
						color: #fff;
						z-index: 10;
					}

					img{
						width: 100%;
						height: 100%;
						z-index: 5;
					}

					&:hover{

						img{
							opacity: 0.5;
						}
					}
					
				}
			}
		}
  	}
	

	/*------------ Product Detail ------------*/
	.product-detail-container{
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		background-image: url("./images/white-pattern1.png");

		hr.custom-line {
			height: 2px;
			margin-top: 0;
			border: 0;
			box-shadow: 0 10px 10px -10px #277AFF inset;
		}

		h1{
			margin-bottom: 5px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'Exo', sans-serif;
			font-size: 22px;
			color: #277AFF;
		}

		.option-group{
			position: relative;
			margin-bottom: 15px;

			h1{
				margin: 0 0 5px 0;
				text-transform: capitalize;
				text-align: left;
				font-weight: normal;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			label{
				text-transform: capitalize;
				line-height: 25px;
				font-size: 12px;
			}

			.form-check{
				display: inline-block;
				margin: 0 34px 0 0;

				&:last-child{
					margin: 0;
				}
			}
		}

		.filter-products{
			position: relative;

			label{
				margin: 0;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 18px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			select{
				margin-top: -10px;
				margin-bottom: 15px;
				text-transform: capitalize;
				font-size: 12px;
			}
		}

		.show-products-title{
			margin-top: 0;
			margin-bottom: 15px;
			text-align: left;
			font-weight: normal;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-size: 18px;
			color: #277AFF;
		
			&:after{
				content: ":";
			}
		}

		.show-products{
			position: relative;

			.card-header{
				padding: 5px;
				background-color: #2196F3;

				.card-title{
					margin: 0;
					text-align: left;
					text-transform: uppercase;
					font-weight: bold;
					font-family: 'Exo', sans-serif;
					font-size: 16px;
					color: #fff;
				}
			}	

			.card-body{
				padding: 0;

				table{
					margin: 0;
					
					tr{

						&:last-child{
						
							td{
								border-bottom: none;
							}
						}
					}
					td{
						padding: 5px;
						text-transform: uppercase;
						text-align: center;
						font-size: 12px;
						color: #000;
						border-bottom: 1px solid #277AFF;
					}
				}
			}
		}

		.order-product-highlight{

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #277AFF inset;
			}

			p{
				font-size: 12px;
				font-family: 'Exo', sans-serif;

				&:first-letter{
					text-transform: uppercase;
				}
			}

			button{
				font-size: 12px;
				font-family: 'Josefin', sans-serif;
			}
		}
	}
	

	/*------------ Order ------------*/
	.order-container{
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern3.png");

		.order-content{
			position: relative;
			padding: 0 15px 0 15px;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-weight: bold;
				font-size: 22px;
				color: #D7D293;
				letter-spacing: 0.1em;
			}
			
			label{
				margin-top: 15px;
				margin-bottom: 5px;
				text-transform: capitalize;
				font-size: 14px;

				&:after{
					content: ":"
				}
			}

			button{
				width: 100%;
				margin-top: 15px;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 14px;
				color: #fff;
			}

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
				
			span.error-message{
				display: block;
				font-size: 12px;
				color: red;
			}

			.captcha-container{
				display: flex;
				margin-top: 15px;
				justify-content: center;
			}
		}
	}


	/*------------ Footer ------------*/
	.footer-container{
		position: relative;
		padding: 15px !important;
		background-color: #292C2F;

		.footer-top{
			position: relative;

			.company-logo{
				position: relative;
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 60px;
				height: 60px;
		   }
		}

		.footer-center{
			position: relative;
			text-align: center;

			.nav-link{
				display: inline-block;
				width: 95px;
				position: relative;
				padding: 5px 5px 0 5px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 12px;
				color: #277AFF;
			}
		}

		.footer-bottom{
			position: relative;
			margin-top: 15px;
			text-align: center;

		   .footer-contact{

		   	p{
		   		text-align: center;
		   		text-transform: uppercase;
		   		font-family: 'Josefin Sans', sans-serif;
		   		font-size: 10px;
		   		color: #fff;
		   	}
		   }

		   .footer-copyright{
		   	
			   .company-title{
					margin: 0;
					vertical-align: middle;
					letter-spacing: 0.1em;
					text-transform: capitalize;
					font-family: 'Kaushan Script', cursive;
					font-weight: bold;
					font-size: 14px;
					color: #277AFF;
			   }

			   p{
			   	margin: 0;
			   	text-transform: capitalize;
			   	font-size: 10px;
			   	font-family: 'Josefin Sans', sans-serif;
			   	color: #fff
			   }
			}   
		}
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
	
	/*------------ Loading Screen ------------*/
	.loading-screen{
		position: relative;
		width: 100%;
		height: 100vh;
		background-color: #F5F5F5;
		text-align: center;

		.loader-image{
			position: relative;
			display: block;
			width: 100px;
			height: 100px;
			top: 35%;
			margin: 0 auto;
			background-image: url("./images/logo.svg");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-animation: bounce 2s infinite;
		   -moz-animation: bounce 2s infinite;
		   animation: bounce 2s infinite;
		}

		@-webkit-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
			40% {-webkit-transform: translateY(-80px);}
			60% {-webkit-transform: translateY(-40px);}
		}
		 
		@-moz-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
			40% {-moz-transform: translateY(-80px);}
			60% {-moz-transform: translateY(-40px);}
		}
		 
		@-o-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-80px);}
			60% {transform: translateY(-40px);}
		}
		@keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-80px);}
			60% {transform: translateY(-40px);}
		}
	}

	/*--------- Loading Screen 2 ---------*/
	.loading-screen2{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		overflow: hidden;

		h1{
			position: absolute;
			margin-top: 15px;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-weight: bold;
			font-size: 16px;
			color: #277AFF;
		}

		$c1: #114357;
		$c2: #826C75;
		$c3: #F29492;

		.dizzy-gillespie {
			filter: saturate(3);
			width: 0.1px;
			height: 0.1px;
			margin-bottom: 120px;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 3s ease-in infinite, spin 1s linear infinite;
		}
		.dizzy-gillespie::before {
			filter: saturate(0.3);
			display: block;
			position: absolute;
			z-index: -1;
			margin-left: -40px;
			margin-top: -40px;
			content:'';
			height:0.1;
			width:0.1;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
		}
		.dizzy-gillespie::after {
			display: block;
			position: absolute;
			z-index: 2;
			margin-left: -10px;
			margin-top: -10px;
			content:'';
			height:20px;
			width:20px;
			border-radius: 20px;
			background-color: white;
		}
		@keyframes loader {
			0% {border-bottom-color:transparent;border-top-color:$c1}
			25% {border-left-color:transparent;border-right-color:$c2}
			50% {border-top-color:transparent;border-bottom-color:$c3}
			75% {border-right-color:transparent;border-left-color:$c2}
			100% {border-bottom-color:transparent;border-top-color:$c1}
		}
		@keyframes spin {
			0% {transform: rotate(0deg)}
		 	100% {transform: rotate(-360deg)}
		}
	}


  	/*------------ Header ------------*/
  	.navbar.navbar-expand-lg{
  		padding: 0px 15px 0px 15px;
  		background-image: url("./images/white-pattern2.png");
		
		ul.navbar-nav{
  			text-align: center;
  			padding-bottom: 25px;
  		}

  		a.nav-link{
  			padding: 5px 0 15px 0;
  			text-transform: capitalize;
  			font-size: 16px;
  		}

  		.navbar-brand{
  			margin-left: -5px;
  			margin-right: 0;
  			padding: 2px 0 2px 0;
  		}

  		.collapse.navbar-collapse.show{
  			display: block;
  			margin-bottom: 25px;
  			height: 255px;
  			overflow: hidden;
  		}
	
		.collapse.navbar-collapse{
			transition: height 0.3s ease;
		}

  		.collapse.navbar-collapse.hide{
  			display: block;
  			height: 0;
  			overflow: hidden;
  		}

  		.company-logo{
			display: inline-block;
			padding: 0;
			width: 60px;
			height: 60px;
	   }

	   .company-title{
			margin: 0;
			vertical-align: middle;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			font-family: 'Kaushan Script', cursive;
			font-weight: bold;
			font-size: 20px;
			color: #277AFF;
	   }

  		// Burger Menu
		.hamburger{
			padding: 17px 0 10px 0;
			display: inline-block;
			cursor: pointer;
			transition-property: opacity, filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font: inherit;
			color: inherit;
			text-transform: none;
			background-color: transparent;
			border: 0;
			margin: 0;
			overflow: visible;
		}

		.hamburger:hover{
			opacity: 1;
		}

		.hamburger-box{
			width: 40px;
			height: 21px;
			display: inline-block;
			position: relative;
		}

		.hamburger-inner{
			display: block;
			top: 50%;
			margin-top: -3px;
		}

		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
			width: 40px;
			height: 4px;
			background-color: #D7D293;
			border-radius: 4px;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		.hamburger-inner::before, .hamburger-inner::after{
			content: "";
			display: block;
		}
		
		.hamburger-inner::before{
			top: -9px;
		}

		.hamburger-inner::after{
			bottom: -9px;
		}

		.hamburger--stand .hamburger-inner{
			transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
		}

		.hamburger--stand .hamburger-inner::before{
			transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		.hamburger--stand .hamburger-inner::after{
			transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		.hamburger--stand.is-active .hamburger-inner{
			transform: rotate(90deg);
			background-color: transparent;
			transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
		}

		.hamburger--stand.is-active .hamburger-inner::before{
			top: 0;
			transform: rotate(-45deg);
			transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
		}

		.hamburger--stand.is-active .hamburger-inner::after{
			bottom: 0;
			transform: rotate(45deg);
			transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}


	/*------------ Home ------------*/
	.home-container{
		position: relative;
		margin-top: 2px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: #fff;
		background-image: url("./images/light-veneer.png");

		//Highlight
		.highlight{
			position: relative;
			width: 100%;
			height: 100vh;
			background-repeat: no-repeat;
         background-image: url("./images/home-background-mobile.jpg");
			background-size: cover;

			.overlay{
				position: relative;
	         z-index: 5;
	         display: block;
	         position: absolute;
	         top: 0;
	         width: 100%;
	         height: 100%;

	         h1{
	         	position: relative;
	   			top: 50%;
	   			margin-top: -70px;
	   			margin-bottom: 0;
	         	text-transform: capitalize;
	         	text-align: center;
	         	letter-spacing: 2px;
	         	line-height: 1.5em;
	         	font-family: 'Pacifico', cursive;
	         	font-size: 28px;
	         	color: #fff;
	         }
	     	}
		}

		.featured-products{
			position: relative;
			padding-top: 50px;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #277AFF;
			}

			.slider{
				z-index: 5;
				position: relative;
				
				.slick-prev{
		         display: none !important;
		         left: 25px;
		         z-index: 1;
		      }

		      .slick-next{
		         display: none !important;
		         right: 25px;
		         z-index: 1;
		      }

		      .slider-content{
		         width: 320px;
		         height: 125px;

		         img{
		         	width: 100%;
		         	height: 100%;
		         }
		      }
			}

			.featured-products-description{
				position: relative;
				margin-bottom: 0;
				padding: 20px 15px 20px 15px;

				p{
					font-family: 'Josefin Sans', sans-serif;
					font-size: 16px;
				}

				.explore-button{
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 14px;
					color: #fff;
				}
			}
		}

		.featured-brands{
			padding-top: 50px;
			background-color: #F8F8F9;
			background-image: url("./images/white-pattern1.png");

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #277AFF;
			}

			.brand-image{
				width: 120px;
				height: 35px;
				margin: 0 auto 30px auto;

				img{
					width: 100%;
					height: 100%;

					@-webkit-keyframes spaceboots {
						0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
						10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
						20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
						30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
						40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
						50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
						60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
						70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
						80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
						90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
						100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
					}

					@keyframes spaceboots {
						0% { transform: translate(2px, 1px) rotate(0deg); }
						10% { transform: translate(-1px, -2px) rotate(-1deg); }
						20% { transform: translate(-3px, 0px) rotate(1deg); }
						30% { transform: translate(0px, 2px) rotate(0deg); }
						40% { transform: translate(1px, -1px) rotate(1deg); }
						50% { transform: translate(-1px, 2px) rotate(-1deg); }
						60% { transform: translate(-3px, 1px) rotate(0deg); }
						70% { transform: translate(2px, 1px) rotate(-1deg); }
						80% { transform: translate(-1px, -1px) rotate(1deg); }
						90% { transform: translate(2px, 2px) rotate(0deg); }
						100% { transform: translate(1px, -2px) rotate(-1deg); }
					}

					&:hover,
					&:focus {
						-webkit-animation-name: spaceboots;
						-webkit-animation-duration: 0.8s;
						-webkit-transform-origin:50% 50%;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-timing-function: linear;
					}

					&:hover,
					&:focus {
						animation-name: spaceboots;
						animation-duration: 0.8s;
						transform-origin:50% 50%;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}
				}
			}
		}

		.featured-news{
			position: relative;
			padding-top: 50px;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #277AFF;
			}

			.card{
				margin: 0 15px 30px 15px;

				.card-image{
					width: 100%;
					
					img{
						width: 100% !important;
						height: 100% !important;
					}
				}

				.card-body{
					
					.card-title{
						margin: 0;
						text-transform: capitalize;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 18px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						font-size: 16px;
					}
				}

				.news-button{
					position: relative;
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 14px;
					color: #fff;
				}
			}
		}	
	}
	

	/*------------ Contact ------------*/
	.contact-container{
		position: relative;
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");

		.contact-title{
			position: relative;

			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #D7D293;
			}
		}

		.contact-content{
			position: relative;
			padding: 0 15px 0 15px;
			
			h1{
				text-align: left;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;
			}
			
			p.working-hours{
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 16px;
				color: #000;

				label{
					margin-top: 5px;
					margin-bottom: 0;
				}
			}

			p.address{
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 16px;
				color: #000;

				label{
					margin-top: 5px;
					margin-bottom: 0;
					width: 50px;
				}

				span{
					display: inline-block;
					width: 20px;
				}

				#contact-email{
					text-transform: none;
				}
			}

			hr.custom-line {
				height: 2px;
				margin-top: 0;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
		}

		.google-map-container{
			position: relative;
			width: 100%;

			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;
			}
		}

		.google-map-container iframe{
			display: block;
			position: relative;
		}

		.contact-support{
			position: relative;
			padding: 20px 15px 0 15px;

			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;
			}
			
			label{
				margin-top: 15px;
				margin-bottom: 5px;
				text-transform: capitalize;
				font-size: 16px;

				&:after{
					content: ":"
				}

				&:first-child{
					margin-top: 0;
				}
			}

			button{
				display: block;
				margin: 15px auto 0;
				padding: 8px 50px;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 16px;
				color: #fff;
			}

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
				
			span.error-message{
				display: block;
				font-size: 13px;
				color: red;
			}

			.form-group{
				margin-bottom: 0;
			}

			.captcha-container{
				display: flex;
				margin-top: 30px;
				justify-content: center;
			}
		}
	}
	

	/*------------ News ------------*/
	.news-container{
		padding: 30px 15px 30px 15px !important;
		background-image: url("./images/white-pattern1.png");
		
		.news-title{
			position: relative;

			h1{
				margin: 0 0 15px 0;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #D7D293;
			}
		}

		.news-box{
			position: relative;

			.card{
				
				.card-header{
					padding: 12px 15px;
					font-size: 14px;
				}

				.card-body{
					padding: 15px;

					.card-title{
						text-transform: uppercase;
						letter-spacing: 2px;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 20px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						text-align: justify;
						font-size: 16px;
					}
					
					.news-button{
						background-color: white;
						text-transform: capitalize;
						font-weight: bold;
						font-size: 12px;
						color: #2196F3;
					}
				}

				.news-button{
					position: relative;
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 12px;
					color: #fff;
				}
			}
		}

		.subscribe-newsletter{
			position: relative;

			h1{
				margin-top: 34px;
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;
			}
			
			input{
				text-align: center;
			}

			span.error-message{
				display: block;
				text-align: center;
				font-size: 13px;
				color: red;
			}

			.subscribe-button{
				display: block;
				position: relative;
				margin: 15px auto 0 auto;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 16px;
			}

			::-webkit-input-placeholder {
			   text-align: center;
			}

			:-moz-placeholder { /* Firefox 18- */
			   text-align: center;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   text-align: center;  
			}

			:-ms-input-placeholder {  
			   text-align: center; 
			}
		}
	}
	

	/*------------ News Detail ------------*/
	.news-detail-container{
		padding: 30px 15px 30px 15px !important;
		background-image: url("./images/white-pattern1.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.news-detail-title{
			position: relative;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #277AFF;
			}
		}

		.news-detail-content{

			p{
				margin-bottom: 0;
				text-align: justify;
				font-family: 'Lato', sans-serif;
				font-size: 18px;	
			}

			span{
				display: block;
				text-align: right;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 12px;

				h2{
					margin-bottom: 0;
					display: inline-block;
					text-transform: capitalize;
					font-family: 'Exo', sans-serif;
					font-size: 12px;
				}
			}
		}
	}
	
	/*------------ About Us ------------*/
	.about-container{
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");

		.about-title{
			position: relative;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #D7D293;
			}
		}

		.about-background{
			width: 100%;
			height: 200px;
			margin-bottom: 15px;
			background-image: url("./images/maple.jpg");
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.about-content{

			p{
				padding: 0 15px 0 15px;
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 18px;	

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}


	/*------------ Products ------------*/
	.products-container{
		position: relative;
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern1.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-left: 15px;
			margin-right: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.products-title{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 24px;
				color: #D7D293;
			}
		}

		// Text-effect
     	.text-effect-wrapper{
         position: relative;
         margin-bottom: 30px;
         width: 100%;
         height: 150px;
         background-image: url("./images/stationary-files.jpg");
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         cursor: default;
			
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				background-color: #277AFF;
			}

         .text-effect {
         	position: relative;
				overflow: hidden;
				top: 50%;
				margin-top: -36px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 26px;
				color: #fff;
         }

         .first-text-effect{
            animation: showup 10s infinite;
         }

         .last-text-effect {
            width:0;
            animation: reveal 10s infinite;
         }

         .last-text-effect span {
            margin-left:-355px;
         	animation: slidein 10s infinite;
         }

         @keyframes showup {
            0% {opacity:0;}
            20% {opacity:1;}
            80% {opacity:1;}
            100% {opacity:0;}
         }

         @keyframes slidein {
            0% { margin-left:-800px; }
            20% { margin-left:-800px; }
            35% { margin-left:0px; }
            100% { margin-left:0px; }
         }

         @keyframes reveal {
            0% {opacity:0;width:0px;}
            20% {opacity:1;width:0px;}
            30% {width:100%;}
            80% {opacity:1;}
            100% {opacity:0;width:100%;}
         }
     	}

		.products-list-title{
			position: relative;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: capitalize;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;
			}
		}

		.products{
			position: relative;
			padding-left: 7.5px;
			padding-right: 7.5px;

			.product-box-container{
				position: relative;
				padding: 15px 7.5px 0 7.5px;
				background-image: url("./images/logo.svg");
	         background-size: 35px 35px;
	         background-position: top 21px right 15px;
	         background-repeat: no-repeat;

				.product-box{
					position: relative;
					display: block;
					width: 100%;
					height: 137.5px;
					border-radius: 5px;
					overflow: hidden;
					-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

					h1{
						position: absolute;
						width: 100px;
						top: 50%;
						left: 50%;
						margin-top: -12px;
						margin-left: -50px;
						margin-bottom: 0;
						padding: 6px;
						border-radius: 5px;
						background-color: #277AFF;
						text-transform: uppercase;
						text-align: center;
						font-family: 'Lato', sans-serif;
						font-size: 15px;
						color: #fff;
						z-index: 10;
					}

					img{
						width: 100%;
						height: 100%;
						z-index: 5;
					}

					&:hover{

						img{
							opacity: 0.5;
						}
					}
					
				}
			}
		}
  	}
	

	/*------------ Product Detail ------------*/
	.product-detail-container{
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		background-image: url("./images/white-pattern1.png");

		hr.custom-line {
			height: 2px;
			margin-top: 0;
			border: 0;
			box-shadow: 0 10px 10px -10px #277AFF inset;
		}

		h1{
			margin-bottom: 5px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'Exo', sans-serif;
			font-size: 24px;
			color: #277AFF;
		}

		.option-group{
			position: relative;
			margin-bottom: 15px;

			h1{
				margin: 0 0 5px 0;
				text-transform: capitalize;
				text-align: left;
				font-weight: normal;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			label{
				text-transform: capitalize;
				line-height: 25px;
				font-size: 14px;
			}

			.form-check{
				display: inline-block;
				margin: 0 34px 0 0;

				&:last-child{
					margin: 0;
				}
			}
		}

		.filter-products{
			position: relative;

			label{
				margin: 0;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			select{
				margin-top: -10px;
				margin-bottom: 15px;
				text-transform: capitalize;
				font-size: 14px;
			}
		}

		.show-products-title{
			margin-top: 0;
			margin-bottom: 15px;
			text-align: left;
			font-weight: normal;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-size: 20px;
			color: #277AFF;
		
			&:after{
				content: ":";
			}
		}

		.show-products{
			position: relative;

			.card-header{
				padding: 5px;
				background-color: #2196F3;

				.card-title{
					margin: 0;
					text-align: left;
					text-transform: uppercase;
					font-weight: bold;
					font-family: 'Exo', sans-serif;
					font-size: 18px;
					color: #fff;
				}
			}	

			.card-body{
				padding: 0;

				table{
					margin: 0;
					
					tr{

						&:last-child{
						
							td{
								border-bottom: none;
							}
						}
					}
					td{
						padding: 5px;
						text-transform: uppercase;
						text-align: center;
						font-size: 14px;
						color: #000;
						border-bottom: 1px solid #277AFF;
					}
				}
			}
		}

		.order-product-highlight{

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #277AFF inset;
			}

			p{
				font-size: 14px;
				font-family: 'Exo', sans-serif;

				&:first-letter{
					text-transform: uppercase;
				}
			}

			button{
				font-size: 14px;
				font-family: 'Josefin', sans-serif;
			}
		}
	}
	

	/*------------ Order ------------*/
	.order-container{
		padding: 30px 0 30px 0 !important;
		background-image: url("./images/white-pattern3.png");

		.order-content{
			position: relative;
			padding: 0 15px 0 15px;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-weight: bold;
				font-size: 22px;
				color: #D7D293;
				letter-spacing: 0.1em;
			}
			
			label{
				margin-top: 15px;
				margin-bottom: 5px;
				text-transform: capitalize;
				font-size: 14px;

				&:after{
					content: ":"
				}
			}

			button{
				width: 100%;
				margin-top: 15px;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 14px;
				color: #fff;
			}

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
				
			span.error-message{
				display: block;
				font-size: 13px;
				color: red;
			}

			.captcha-container{
				display: flex;
				margin-top: 15px;
				justify-content: center;
			}
		}
	}


	/*------------ Footer ------------*/
	.footer-container{
		position: relative;
		padding: 15px !important;
		background-color: #292C2F;

		.footer-top{
			position: relative;

			.company-logo{
				position: relative;
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 70px;
				height: 70px;
		   }
		}

		.footer-center{
			position: relative;
			text-align: center;

			.nav-link{
				display: inline-block;
				width: 95px;
				position: relative;
				padding: 5px 4px 0 4px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 13px;
				color: #277AFF;
			}
		}

		.footer-bottom{
			position: relative;
			margin-top: 15px;
			text-align: center;

		   .footer-contact{

		   	p{
		   		text-align: center;
		   		text-transform: uppercase;
		   		font-family: 'Josefin Sans', sans-serif;
		   		font-size: 12px;
		   		color: #fff;
		   	}
		   }

		   .footer-copyright{
		   	
			   .company-title{
					margin: 0;
					vertical-align: middle;
					letter-spacing: 0.1em;
					text-transform: capitalize;
					font-family: 'Kaushan Script', cursive;
					font-weight: bold;
					font-size: 16px;
					color: #277AFF;
			   }

			   p{
			   	margin: 0;
			   	text-transform: capitalize;
			   	font-size: 12px;
			   	font-family: 'Josefin Sans', sans-serif;
			   	color: #fff
			   }
			}   
		}
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


/*------------ Laptops ------------ */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px){
	/*------------ Loading Screen ------------*/
	.loading-screen{
		position: relative;
		width: 100%;
		height: 100vh;
		background-color: #F5F5F5;
		text-align: center;

		.loader-image{
			position: relative;
			display: block;
			width: 180px;
			height: 180px;
			top: 35%;
			margin: 0 auto;
			background-image: url("./images/logo.svg");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-animation: bounce 2s infinite;
		   -moz-animation: bounce 2s infinite;
		   animation: bounce 2s infinite;
		}

		@-webkit-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
			40% {-webkit-transform: translateY(-200px);}
			60% {-webkit-transform: translateY(-80px);}
		}
		 
		@-moz-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
			40% {-moz-transform: translateY(-200px);}
			60% {-moz-transform: translateY(-80px);}
		}
		 
		@-o-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-200px);}
			60% {transform: translateY(-480px);}
		}
		@keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-200px);}
			60% {transform: translateY(-80px);}
		}
	}

	/*------------ Loading Screen 2 ------------*/
	.loading-screen2{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		overflow: hidden;

		h1{
			position: absolute;
			margin-top: 15px;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-weight: bold;
			font-size: 14px;
			color: #277AFF;
		}

		$c1: #114357;
		$c2: #826C75;
		$c3: #F29492;

		.dizzy-gillespie {
			filter: saturate(3);
			width: 0.1px;
			height: 0.1px;
			margin-bottom: 120px;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 3s ease-in infinite, spin 1s linear infinite;
		}
		.dizzy-gillespie::before {
			filter: saturate(0.3);
			display: block;
			position: absolute;
			z-index: -1;
			margin-left: -40px;
			margin-top: -40px;
			content:'';
			height:0.1;
			width:0.1;
			border: 40px solid transparent;
			border-radius: 5px;
			animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
		}
		.dizzy-gillespie::after {
			display: block;
			position: absolute;
			z-index: 2;
			margin-left: -10px;
			margin-top: -10px;
			content:'';
			height:20px;
			width:20px;
			border-radius: 20px;
			background-color: white;
		}
		@keyframes loader {
			0% {border-bottom-color:transparent;border-top-color:$c1}
			25% {border-left-color:transparent;border-right-color:$c2}
			50% {border-top-color:transparent;border-bottom-color:$c3}
			75% {border-right-color:transparent;border-left-color:$c2}
			100% {border-bottom-color:transparent;border-top-color:$c1}
		}
		@keyframes spin {
			0% {transform: rotate(0deg)}
		 	100% {transform: rotate(-360deg)}
		}
	}

  	/*------------ Header ------------*/
  	.navbar.navbar-expand-lg{
  		padding: 0px 7px 0px 15px;
  		background-color: #F8F8F9;
  		// background-image: url("./images/white-pattern1.png");

  		.custom-navbar{
			position: relative;

			ul.navbar-nav{
				position: absolute;
				right: 0;
			
	  			.custom-hover{
	  				margin-right: 30px;
					padding: 10px;
					display:block;
					text-decoration: none;
					text-transform: uppercase;
					font-family: 'Exo', sans-serif;
					font-size: 14px;
					color: #2f2f2f;
					position:relative;

					&:after{
						content:'';
						width:0%;
						transition:all 0.3s ease;
						left:50%;
					}

					&:before{
						content:'';
						width:0%;
						transition:all 0.3s ease;
						left:50%;
					}

					&:hover:after{
						content:'';
						position:absolute;
						bottom:0px;
						left:50%;
						background:#277AFF;
						height:3px;
						width:50%;
					}

					&:hover:before{
						content:'';
						position:absolute;
						bottom:0px;
						left:0px;
						background:#277AFF;
						height:3px;
						width:50%;
					}
		  		}
		  	}
  		}

	  		

  		.company-logo{
			display: inline-block;
			padding: 0;
			width: 55px;
			height: 55px;
	   }

	   .company-title{
	   	position: relative;
			vertical-align: middle;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			font-family: 'Kaushan Script', cursive;
			font-weight: bold;
			font-size: 18px;
			color: #277AFF;
	   }

  		.hamburger{
  			display: none;
  		}
	}

	/*------------ Home ------------*/
	.home-container{
		position: relative;
		margin-top: 2px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: #fff;
		background-image: url("./images/light-veneer.png");

		//Highlight
		.highlight{
			position: relative;
			width: 100%;
			height: 100vh;
			background-repeat: no-repeat;
         background-image: url("./images/home-background-desktop.jpg");
			background-size: cover;

			.overlay{
				position: relative;
	         z-index: 5;
	         display: block;
	         position: absolute;
	         top: 0;
	         width: 100%;
	         height: 100%;

	         h1{
	         	position: relative;
	   			top: 50%;
	   			margin-top: -54px;
	   			margin-bottom: 0;
	         	text-transform: capitalize;
	         	text-align: center;
	         	letter-spacing: 2px;
	         	line-height: 1.5em;
	         	font-family: 'Pacifico', cursive;
	         	font-size: 36px;
	         	text-shadow: 1px 1px gray;
	         	color: #fff;
	         }
	     	}
		}

		.featured-products{
			position: relative;
			padding-top: 50px;
			padding-bottom: 50px;
			// background-color: #F8F8F9;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #277AFF;
			}

			.slider-container{
				padding-left: 10%;
				padding-right: 10%;
				.slider{
					position: relative;
					
					.slick-prev{
			         // display: none !important;
			         left: 25px;
			         z-index: 1;
			      }

			      .slick-next{
			         // display: none !important;
			         right: 25px;
			         z-index: 1;
			      }

			      .slider-content{
			         width: 100%;
			         height: 350px;

			         img{
			         	width: 100%;
			         	height: 100%;
			         }
			      }
				}
			}	
			
			.featured-products-description-container{
				padding-left: 10%;
				padding-right: 10%;

				.featured-products-description{
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					position: relative;
					margin-bottom: 0;
					padding: 20px 15px 20px 15px;

					p{
						font-family: 'Josefin Sans', sans-serif;
						font-size: 18px;
					}

					.explore-button{
						background-color: #277AFF;
						text-transform: capitalize;
						font-family: 'Josefin Sans', sans-serif;
						font-size: 16px;
						color: #fff;
					}
				}
			}
		}

		.featured-brands{
			padding-top: 50px;
			background-color: #F8F8F9;
			background-image: url("./images/white-pattern1.png");

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #277AFF;
			}

			.brand-image{
				width: 300px;
				height: 75px;
				margin-bottom: 50px;

				img{
					width: 100%;
					height: 100%;

					@-webkit-keyframes spaceboots {
						0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
						10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
						20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
						30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
						40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
						50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
						60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
						70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
						80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
						90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
						100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
					}

					@keyframes spaceboots {
						0% { transform: translate(2px, 1px) rotate(0deg); }
						10% { transform: translate(-1px, -2px) rotate(-1deg); }
						20% { transform: translate(-3px, 0px) rotate(1deg); }
						30% { transform: translate(0px, 2px) rotate(0deg); }
						40% { transform: translate(1px, -1px) rotate(1deg); }
						50% { transform: translate(-1px, 2px) rotate(-1deg); }
						60% { transform: translate(-3px, 1px) rotate(0deg); }
						70% { transform: translate(2px, 1px) rotate(-1deg); }
						80% { transform: translate(-1px, -1px) rotate(1deg); }
						90% { transform: translate(2px, 2px) rotate(0deg); }
						100% { transform: translate(1px, -2px) rotate(-1deg); }
					}

					&:hover,
					&:focus {
						-webkit-animation-name: spaceboots;
						-webkit-animation-duration: 0.8s;
						-webkit-transform-origin:50% 50%;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-timing-function: linear;
					}

					&:hover,
					&:focus {
						animation-name: spaceboots;
						animation-duration: 0.8s;
						transform-origin:50% 50%;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}
				}
			}

			.brand-left{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding-right: 50px;
			}

			.brand-right{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-left: 50px;
			}
		}

		.featured-news{
			position: relative;
			padding-top: 50px;
			padding-bottom: 50px;
			// background-color: #F8F8F9;

			h1{
				margin: 0 0 15px 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #277AFF;
			}

			.card{

				img{
					display: block;
					margin: 0 auto;
					padding: 5%;
					width: 95%;
					height: 300px;
				}

				.card-body{

					.card-title{
						margin: 0;
						text-transform: capitalize;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 18px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						font-size: 16px;
					}
				}

				.news-button{
					position: relative;
					background-color: #277AFF;
					text-transform: capitalize;
					font-family: 'Josefin Sans', sans-serif;
					font-size: 14px;
					color: #fff;
				}
			}

			hr.custom-line {
				height: 2px;
				margin-top: 0;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
			
			.home-news{
				padding-left: 30px;
				padding-right: 30px;
			}
		}	
	}

	/*------------ News ------------*/
	.news-container{
		padding: 50px 15px 50px 15px !important;
		background-image: url("./images/white-pattern2.png");
		
		.news-title{
			position: relative;

			h1{
				margin: 0 0 15px 0;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #D7D293;
			}
		}

		.news-box{
			position: relative;
			padding: 0 15px 15px 15px;
			
			.card{

				.card-body{
					padding: 20px;

					.card-title{
						text-transform: uppercase;
						letter-spacing: 2px;
						font-family: 'Exo', sans-serif;
						font-weight: bold;
						font-size: 18px;
					}

					.card-text{
						margin-top: 15px;
						margin-bottom: 15px;
						text-align: justify;
						font-size: 14px;
					}
					
					.news-button{
						position: relative;
						background-color: white;
						text-transform: capitalize;
						font-family: 'Josefin Sans', sans-serif;
						font-weight: bold;
						font-size: 12px;
						color: #2196F3;
					}
				}
			}
		}

		.subscribe-newsletter{
			position: relative;

			h1{
				margin-top: 30px;
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 26px;
				color: #277AFF;
			}
			
			input{
				width: 405px;
				margin: 0 auto;
				text-align: center;
			}

			span.error-message{
				display: block;
				text-align: center;
				font-size: 14px;
				color: red;
			}

			.subscribe-button{
				display: block;
				position: relative;
				margin: 15px auto 0 auto;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 16px;
			}

			::-webkit-input-placeholder {
			   text-align: center;
			}

			:-moz-placeholder { /* Firefox 18- */
			   text-align: center;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   text-align: center;  
			}

			:-ms-input-placeholder {  
			   text-align: center; 
			}
		}
	}

	/*------------ News Detail ------------*/
	.news-detail-container{
		padding: 50px 30px 50px 30px !important;
		background-image: url("./images/white-pattern3.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.news-detail-title{
			position: relative;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #277AFF;
			}
		}

		.news-detail-content{

			p{
				margin-bottom: 0;
				text-align: justify;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 18px;	
			}

			span{
				display: block;
				text-align: right;
				text-transform: capitalize;
				
				h2{
					margin-bottom: 0;
					display: inline-block;
					text-transform: capitalize;
					font-family: 'Exo', sans-serif;
					font-size: 12px;
				}
			}
		}
	}

	/*------------ Contact ------------*/
	.contact-container{
		position: relative;
		padding: 50px 30px 50px 30px !important;
		background-image: url("./images/white-pattern2.png");

		.contact-title{
			position: relative;

			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #D7D293;
			}
		}

		.contact-content{
			position: relative;
			padding-top: 15px;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}
			
			p.working-hours{
				margin: 0;
				text-transform: capitalize;
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 18px;
				color: #000;

				label{
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			p.address{
				margin: 0;
				text-transform: capitalize;
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 18px;
				color: #000;

				label{
					margin-top: 0;
					margin-bottom: 0;
					width: 50px;
				}

				span{
					display: inline-block;
					width: 15px;
				}

				#contact-email{
					width: 100%;
					text-transform: none;
				}
			}

			hr.custom-line {
				height: 2px;
				margin-top: 30px;
				margin-bottom: 30px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
		}

		.google-map-container{
			position: relative;
			width: 100%;

			h1{
				margin-bottom: 15px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}
		}

		.google-map-container iframe{
			display: block;
			position: relative;
		}

		.contact-support{
			position: relative;
			text-align: center;

			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}
			
			label{
				margin-top: 30px;
				margin-bottom: 0;
				font-size: 14px;

				&:first-child{
					margin-top: 15px;
				}
			}

			input, textarea{
				width: 400px;
				margin: 0 auto;
				text-align: center;
			}

			::-webkit-input-placeholder {
			   text-align: center;
			}

			:-moz-placeholder { /* Firefox 18- */
			   text-align: center;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   text-align: center;  
			}

			:-ms-input-placeholder {  
				text-align: center; 
			}

			button{
				width: 150px;
				margin-top: 30px;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 14px;
				color: #fff;
			}

			hr.custom-line {
				height: 2px;
				margin-top: 22px;
				margin-bottom: 30px;
				border: 0;
				box-shadow: 0 10px 10px -10px #8c8b8b inset;
			}
				
			span.error-message{
				display: block;
				font-size: 14px;
				color: red;
			}

			.captcha-container{
				display: flex;
				margin-top: 30px;
				justify-content: center;
			}
		}
	}

	/*------------ About Us ------------*/
	.about-container{
		padding: 50px 0 50px 0 !important;
		background-image: url("./images/white-pattern3.png");

		.about-title{
			position: relative;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #D7D293;
			}
		}

		.about-background{
			width: 100%;
			height: 500px;
			margin-bottom: 30px;
			background-image: url("./images/about-desktop.jpg");
			background-size: 100%;
			background-position: top;
			background-repeat: no-repeat;
		}

		.about-content{

			p{
				padding: 0 15px 0 15px;
				text-align: center;
				font-family: 'Josefin Sans', sans-serif;
				font-size: 18px;	

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	/*------------ Products ------------*/
	.products-container{
		position: relative;
		padding: 50px 0 50px 0 !important;
		background-image: url("./images/white-pattern2.png");
		
		hr.custom-line {
			height: 2px;
			margin-top: 15px;
			margin-left: 15px;
			margin-right: 15px;
			border: 0;
			box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		.products-title{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			
			h1{
				margin-bottom: 15px;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #D7D293;
			}
		}

		// Text-effect
     	.text-effect-wrapper{
         position: relative;
         margin-bottom: 30px;
         width: 100%;
         height: 400px;
         background-image: url("./images/stationary-files.jpg");
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         cursor: default;
			
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				background-color: #277AFF;
			}

         .text-effect {
         	position: relative;
				overflow: hidden;
				top: 50%;
				margin-top: -57px;
				text-align: center;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 38px;
				color: #fff;
         }

         .first-text-effect{
            animation: showup 10s infinite;
         }

         .last-text-effect {
            width:0;
            animation: reveal 10s infinite;
         }

         .last-text-effect span {
            margin-left:-355px;
         	animation: slidein 10s infinite;
         }

         @keyframes showup {
            0% {opacity:0;}
            20% {opacity:1;}
            80% {opacity:1;}
            100% {opacity:0;}
         }

         @keyframes slidein {
            0% { margin-left:-800px; }
            20% { margin-left:-800px; }
            35% { margin-left:0px; }
            100% { margin-left:0px; }
         }

         @keyframes reveal {
            0% {opacity:0;width:0px;}
            20% {opacity:1;width:0px;}
            30% {width:100%;}
            80% {opacity:1;}
            100% {opacity:0;width:100%;}
         }
     	}

		.products-list-title{
			position: relative;

			h1{
				margin-bottom: 7.5px;
				text-align: center;
				text-transform: capitalize;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;
			}
		}

		.products{
			position: relative;
			padding-left: 15px;
			padding-right: 15px;

			.product-box-container{
				position: relative;
				padding: 7.5px 15px 22.5px 15px;
	         background-image: url("./images/logo.svg");
	         background-size: 50px 50px;
	         background-position: top 15px right 23.5px;
	         background-repeat: no-repeat;


				.product-box{
					position: relative;
					display: block;
					width: 100%;
					height: 250px;
					border-radius: 5px;
					overflow: hidden;
					-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
					box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);

					h1{
						position: absolute;
						width: 200px;
						top: 50%;
						left: 50%;
						margin-top: -12px;
						margin-left: -100px;
						margin-bottom: 0;
						padding: 5px;
						border-radius: 5px;
						background-color: #277AFF;
						text-transform: uppercase;
						text-align: center;
						font-family: 'Short Stack', cursive;
						font-size: 18px;
						color: #fff;
						z-index: 10;
					}

					img{
						width: 100%;
						height: 100%;
						z-index: 5;
					}

					&:hover{

						img{
							opacity: 0.5;
						}
					}
					
				}
			}
		}
  	}
	
	/*------------ Product Detail ------------*/
	.product-detail-container{
		position: relative;
		padding: 50px 15px 50px 15px;
		background-image: url("./images/white-pattern1.png");

		.product-detail-title{
			padding-left: 15px;
			padding-right: 15px;

			hr.custom-line {
				height: 2px;
				margin-top: 0;
				border: 0;
				box-shadow: 0 10px 10px -10px #277AFF inset;
			}

			h1{
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Exo', sans-serif;
				font-size: 32px;
				color: #277AFF;
			}
		}

		.option-group{
			position: relative;
			margin-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;

			h1{
				margin: 0 0 10px 0;
				text-transform: capitalize;
				text-align: left;
				font-weight: normal;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			label{
				text-transform: capitalize;
				font-size: 16px;
			}

			.form-check{
				display: inline-block;
				margin: 0 50px 0 0;

				&:last-child{
					margin: 0;
				}
			}
		}

		.filter-products{
			position: relative;
			margin-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;

			label{
				margin: 0;
				text-transform: capitalize;
				font-family: 'Exo', sans-serif;
				font-size: 22px;
				color: #277AFF;

				&:after{
					content: ":";
				}
			}

			select{
				width: 300px;
				margin-top: -10px;
				text-transform: capitalize;
				font-size: 16px;
			}
		}

		h1.show-products-title{
			margin-top: 0;
			margin-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;
			font-weight: normal;
			text-transform: capitalize;
			font-family: 'Exo', sans-serif;
			font-size: 22px;
			color: #277AFF;
		
			&:after{
				content: ":";
			}
		}

		.show-products{
			position: relative;
			padding-left: 15px;
			padding-right: 15px;

			.card-header{
				padding: 5px;
				background-color: #2196F3;

				.card-title{
					margin: 0;
					text-align: left;
					text-transform: uppercase;
					font-weight: bold;
					font-family: 'Exo', sans-serif;
					font-size: 18px;
					color: #fff;
				}
			}	

			.card-body{
				padding: 0;

				table{
					margin: 0;
					
					tr{

						&:last-child{
						
							td{
								border-bottom: none;
							}
						}
					}
					td{
						padding: 5px;
						text-transform: uppercase;
						text-align: center;
						font-size: 16px;
						color: #000;
						border-bottom: 1px solid #277AFF;
					}
				}
			}
		}

		.order-product-highlight{
			padding-left: 15px;
			padding-right: 15px;

			hr.custom-line {
				height: 2px;
				margin-top: 5px;
				border: 0;
				box-shadow: 0 10px 10px -10px #277AFF inset;
			}

			p{
				font-size: 14px;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
			}

			button{
				font-size: 14px;
				font-familty: 'Josefin', sans-serif;
			}
		}
	}

	/*------------ Order ------------*/
	.order-container{
		padding: 50px 0 50px 0 !important;
		background-image: url("./images/white-pattern3.png");

		.order-content{
			position: relative;
			
			h1{
				margin-bottom: 0;
				text-align: center;
				text-transform: uppercase;
				font-family: 'Exo', sans-serif;
				font-weight: bold;
				font-size: 32px;
				color: #D7D293;
				letter-spacing: 0.1em;
			}
			
			label{
				display: block;
				margin-top: 30px;
				margin-bottom: 0;
				text-transform: capitalize;
				text-align: center;
				font-size: 18px;

				&:first-child{
					margin-top: 15px;
				}
			}

			input, textarea{
				width: 400px;
				margin: 0 auto;
				text-align: center;
			}

			::-webkit-input-placeholder {
			   text-align: center;
			}

			:-moz-placeholder { /* Firefox 18- */
			   text-align: center;  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   text-align: center;  
			}

			:-ms-input-placeholder {  
				text-align: center; 
			}

			button{
				display: block;
				width: 150px;
				margin: 30px auto 0 auto;
				background-color: #277AFF;
				text-transform: capitalize;
				font-size: 16px;
				color: #fff;
			}
				
			span.error-message{
				display: block;
				text-align: center;
				font-size: 14px;
				color: red;
			}

			.captcha-container{
				display: flex;
				margin-top: 30px;
				justify-content: center;
			}
		}
	}


	/*------------ Footer ------------*/
	.footer-container{
		position: relative;
		padding: 15px !important;
		background-color: #292C2F;

		.footer-top{
			position: relative;

			.company-logo{
				position: relative;
				display: block;
				margin: 0 auto;
				padding: 0;
				width: 80px;
				height: 80px;
		   }
		}

		.footer-center{
			display: flex;
			justify-content: center;
			position: relative;
			width: 100%;
			margin-top: 15px;
			margin-bottom: 15px;

			.nav-link{
				display: inline-block;
				position: relative;
				padding: 0 0 0 30px;
				text-transform: capitalize;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: bold;
				font-size: 16px;
				color: #fff;

				&:after{
					content: '|';
					padding-left: 30px;
					color: #277AFF;
				}

				&:last-child:after{
					content: '';
				}
			}
		}

		.footer-bottom{
			position: relative;
			text-align: center;

		   .footer-contact{

		   	p{
		   		text-align: center;
		   		text-transform: uppercase;
		   		font-family: 'Exo', sans-serif;
		   		font-size: 14px;
		   		color: #fff;
		   	}
		   }

		   .footer-copyright{
		   	
			   .company-title{
					margin: 0;
					vertical-align: middle;
					letter-spacing: 0.1em;
					text-transform: capitalize;
					font-family: 'Kaushan Script', cursive;
					font-weight: bold;
					font-size: 14px;
					color: #277AFF;
			   }

			   p{
			   	margin: 0;
			   	text-transform: capitalize;
			   	font-size: 10px;
			   	font-family: 'Exo', sans-serif;
			   	color: #fff
			   }
			}   
		}
	}
}

@media screen 
  and (min-device-width: 1601px){
	
	.home-container{

		.featured-news{

			.card{

				img{
					height: 400px;
				}
			}
		}

		.featured-products .slider-container .slider .slider-content{
			height: 500px;
		}
	}	
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}